include partials/header.pug
section.jumbotron.d-flex.flex-row.justify-content-end
    h1.mr-5.text-info 
      | Dashboard 
section.container 
  div.remark
    p User logged in with email "#{user.get("email")}".
  form.column(method='post' action='/eventBuddyRequest')
    .form-group.col-md-5
      label.mr-sm-2(for='inlineFormCustomSelect') Preference
      select.custom-select.mr-sm-2(id='event_type' name='event_type') Event type
        option(value="concert") Concert
        option(value="nature") Nature
        option(value="sports") Sports
        option(value="sightseeing") Sightseeing
        option(value="excursions_cafe") Café
        option(value="telephone_buddy") Telephone Buddy
    .form-group.col-md-5
      input.form-control(type='string' placeholder='Title')
    .form-group.col-md-5
      input.form-control(type='Date' placeholder='Date')
    .form-group.col-md-5
      input.form-control(type='string' placeholder='Description')
    .form-group.col-md-5
      button.btn.btn-primary(type='submit') Submit
include partials/footer.pug
