include partials/header.pug
section.jumbotron.d-flex.flex-row.justify-content-end
    h1.mr-5.text-info 
      | Dashboard 
section.container 
  div.remark
    p User logged in with email "#{user.get("email")}".
  form.column(method='post' action='/eventBuddyRequest')
    .form-group.col-md-5
      label.mr-sm-2(for='inlineFormCustomSelect') Preference
      select.custom-select.mr-sm-2(id='event_type' name='event_type') Event type
        option(value="Theater_Kunst") theater / art
        option(value="Ausflüge_Cafe") excursion / coffee
        option(value="Sport_Action") sports / action
        option(value="Konzerte_Festivals") concerts / festivals
        option(value="Natur_Sightseeing") nature / sightseeing
        option(value="Andere") other
    .form-group.col-md-5
      input.form-control(type='string' placeholder='Title')
    .form-group.col-md-5
      input.form-control(type='Date' placeholder='Date')
    .form-group.col-md-5
      input.form-control(type='string' placeholder='Description')
    .form-group.col-md-5
      button.btn.btn-outline-warning.text-dark.font-weight-bold(type='submit') Submit
include partials/footer.pug
