include partials/header.pug
  .form-row
    .col-auto.my-1
    .col-7
      input.form-control(type='string' placeholder='Title')
    .col
      input.form-control(type='Date' placeholder='Date')
    .col
      input.form-control(type='string' placeholder='Description')
    .col-md-5
      label(for='event_types') I am interested in these event types
      select.form-control.col-md-5(id='event_types' name='event_types' multiple)
        option(value="concert") Concert
        option(value="nature") Nature
        option(value="sports") Sports
        option(value="sightseeing") Sightseeing
        option(value="excursions_cafe") Café
        option(value="telephone_buddy") Telephone Buddy
include partials/footer.pug
 

    
