include partials/header.pug
  .form-row
    .col-auto.my-1
      label.mr-sm-2(for='inlineFormCustomSelect') Preference
      select#inlineFormCustomSelect.custom-select.mr-sm-2
      input(type='string' <option='' selected='')
      | Event type
        option(value='1') One
        option(value='2') Two
        option(value='3') Three
    .col-7
      input.form-control(type='string' placeholder='Title')
    .col
      input.form-control(type='Date' placeholder='Date')
    .col
      input.form-control(type='string' placeholder='Description')
include partials/footer.pug



 

    
