include partials/header.pug
if isLoginPage
  include login.pug 
else 
  section.jumbotron.d-flex.flex-row.justify-content-end
    h1.mr-5.text-info 
      | Registration 
  section.container 
    ul.nav.nav-tabs
      li.nav-item
          a.nav-link(href=(isSeeker ? '#' : '/signup?isVolunteer=false') class=(isSeeker && 'active'))
            | I am looking for a buddy
      li.nav-item
          a.nav-link(href=(isSeeker ? '/signup?isVolunteer=true' : '#') class=(!isSeeker && 'active'))
            | I want to become a buddy
    if isSeeker
      include signupSeeker.pug
    else 
      include signupVolunteer.pug
include partials/footer.pug