include partials/header.pug
section.jumbotron.d-flex.flex-row.justify-content-end
    h1.mr-5.text-info 
      | You have matches!
.container.m-auto.flex.row.space-evenly(class='display: flex-direction: justify-content:')
  .card.d-inline.p-4(style='width: 18rem;')
    img.card-img-top(src='...' alt='Card image cap')
    .card-body
      h5.card-title Your match
      p.card-text
    ul.list-group.list-group-flush
      li.list-group-item TAG99
      li.list-group-item TAG2
      li.list-group-item TAG3
    .card-body
      p Request sent or...
      button.btn.btn-success(type='submit') Send request
  .card.d-inline.p-4(style='width: 18rem;')
    img.card-img-top(src='...' alt='Card image cap')
    .card-body
      h5.card-title Your match
      p.card-text
    ul.list-group.list-group-flush
      li.list-group-item TAG1
      li.list-group-item TAG2
      li.list-group-item TAG3
    .card-body
      p Request sent
      button.btn.btn-success(type='submit') Send request
  .card.d-inline.p-4(style='width: 18rem;')
    img.card-img-top(src='...' alt='Card image cap')
    .card-body
      h5.card-title Your match
      p.card-text
    ul.list-group.list-group-flush
      li.list-group-item TAG1
      li.list-group-item TAG2
      li.list-group-item TAG3
    .card-body
      p Request sent
      button.btn.btn-success(type='submit') Send request
include partials/footer.pug


