
.col.d-flex.justify-content-center
.card(style='width: 18rem;')
  img.card-img-top(src='...' alt='Card image cap')
  .card-body
    h5.card-title Your matches
    p.card-text
  ul.list-group.list-group-flush
    li.list-group-item TAG1
    li.list-group-item TAG2
    li.list-group-item TAG3
  .card-body
    p Request sent
.card(style='width: 18rem;')
  img.card-img-top(src='...' alt='Card image cap')
  .card-body
    h5.card-title Your matches
    p.card-text
  ul.list-group.list-group-flush
    li.list-group-item TAG1
    li.list-group-item TAG2
    li.list-group-item TAG3
  .card-body
    p Request sent
.card(style='width: 18rem;')
  img.card-img-top(src='...' alt='Card image cap')
  .card-body
    h5.card-title Your matches
    p.card-text
  ul.list-group.list-group-flush
    li.list-group-item TAG1
    li.list-group-item TAG2
    li.list-group-item TAG3
  .card-body
    p Request sent
