form
  .form-row
    .col-md-4.mb-3
      label(for='validationServer01')  name
      input#validationServer01.form-control.is-valid(type='string' placeholder='First name' value='Mark' required='')
      .valid-feedback
        | Looks good!
    .col-md-4.mb-3
      label(for='validationServer02') email
      input#validationServer02.form-control.is-valid(type='string' placeholder='Last name' value='Otto' required='')
      .valid-feedback
        | Looks good!
    .col-md-4.mb-3
      label(for='validationServerUsername') street
      .input-group
        .input-group-prepend
          span#inputGroupPrepend3.input-group-text @
        input#validationServerUsername.form-control.is-invalid(type='string' placeholder='Username' aria-describedby='inputGroupPrepend3' required='')
        .invalid-feedback
          | Please choose a username.
  .form-row
    .col-md-6.mb-3
      label(for='validationServer03') postal code
      input#validationServer03.form-control.is-invalid(type='string' placeholder='City' required='')
      .invalid-feedback
        | Please provide a valid city.
    .col-md-3.mb-3
      label(for='validationServer04') password1
      input#validationServer04.form-control.is-invalid(type='string' placeholder='State' required='')
      .invalid-feedback
        | Please provide a valid state.
    .col-md-3.mb-3
      label(for='validationServer05') password2
      input#validationServer05.form-control.is-invalid(type='text' placeholder='Zip' required='')
      .invalid-feedback
        | Please provide a valid zip.
  .col-md-3.mb-3
    label(for='validationServer05') Special needs
    input#validationServer05.form-control.is-invalid(type='[strings]' placeholder='Zip' required='')
    .invalid-feedback
      | Please provide a valid zip.
  .form-group
    .form-check
      input#invalidCheck3.form-check-input.is-invalid(type='checkbox' value='' required='')
      label.form-check-label(for='invalidCheck3')
        | Agree to terms and conditions
      .invalid-feedback
        | You must agree before submitting.
  button.btn.btn-primary(type='submit') Submit form
