form.column(method='post' action='')
  if error != undefined
    .form-group.col-md-5
      .alert.alert-danger(role="alert")
        | Error (#{error.code || "No Error code"}): #{error.message || "No error message"}
  .form-group.col-md-5
    label(for='name')
      | Name
      span(style='color: red; display: inline; float: none;') *
    input.form-control(type='text' id='name' name='name' aria-describedby='name')
  .form-group.col-md-5
    label(for='street') Street
    span(style='color: red; display: inline; float: none;') *
    input.form-control(type='text' id='street' name='street')
  .form-group.col-md-5
    label(for='postal_code') Zip code
    span(style='color: red; display: inline; float: none;') *
    input.form-control(type='text' id='postal_code' name='postal_code')
  .form-group.col-md-5
    label(for='city') City
    span(style='color: red; display: inline; float: none;') *
    input.form-control(type='text' id='city' name='city')
  .form-group.col-md-5
    label(for='email') Email
    span(style='color: red; display: inline; float: none;') *
    input.form-control(type='text' id='email' name='email')
  .form-group.col-md-5
    label(for='tel') Telephone
    span(style='color: red; display: inline; float: none;') *
    input.form-control(type='text' id='tel' name='tel')
  .form-group.col-md-5
    label(for='special_needs_skills') Skills
    select.form-control.col-md-5(id='special_needs_skills' name='special_needs_skills')
      option 1
      option 2
      option 3
      option 4
      option 5
  .form-group.col-md-5
    label(for='password_1')
      | Password
      span(style='color: red; display: inline; float: none;') *
    input.form-control(type='pasword' id='password_1' name='password_1' aria-describedby='password_1')
  .form-group.col-md-5
    label(for='password_2')
      | Repeat password
      span(style='color: red; display: inline; float: none;') *
    input.form-control(type='pasword' id='password_2' name='password_2' aria-describedby='password_2')
  .form-group.col-md-5
  button.btn.btn-primary(type='submit') Submit
  p.col-md-5 
    | Already a member?
    a.text-warning(href='/login') 
      | Log in