form.column(method='post' action='/signup')
  .form-group.col-md-5 
    h3 
      span.col-auto.badge.badge-warning
      | Registration as a buddy seeker
  .form-group.col-md-5 
    label(for='email')
      | Email address 
      span(style='color: red; display: inline; float: none;') 
        | *
    input.form-control(type='email' name='email' aria-describedby='emailHelp' placeholder='Enter email' required='') 
    small#emailHelp.form-text.text-muted
    | We&apos;ll never share your email with anyone else. 
  .form-group.col-md-5
    label(for='inputPassword1') 
      | Password 
      span(style='color: red; display: inline; float: none;') 
        | * 
    input.form-control(type='password' name='password_1' placeholder='Password' required='') 
  .form-group.col-md-5
    label(for='inputPassword2') 
      | Confirm password 
      span(style='color: red; display: inline; float: none;') 
        | * 
    input.form-control(type='password' name='password_2' placeholder='Password' required='') 
  .form-group.col-md-5
    input(type="hidden" id="signup_type" name="signup_type" value="seeker")
    button.btn.btn-outline-warning(type='submit') 
      | Sign up
  .form-group.col-md-5 
  p.col-md-5 
    | Already a member?
    a.text-warning(href='/login') 
      | Log in