form.column(method='post' action='/signup')
  if error != undefined
    .form-group.col-md-5
      .alert.alert-danger(role="alert")
        | Error (#{error.code || "No Error code"}): #{error.message || "No error message"}
  .form-group.col-md-5
    label(for='name')
      | Name
      span(style='color: red; display: inline; float: none;') *
    input.form-control(type='text' id='name' name='name' aria-describedby='name')
  .form-group.col-md-5
    label(for='street') Street
    span(style='color: red; display: inline; float: none;') *
    input.form-control(type='text' id='street' name='street')
  .form-group.col-md-5
    label(for='postal_code') Zip code
    span(style='color: red; display: inline; float: none;') *
    input.form-control(type='text' id='postal_code' name='postal_code')
  .form-group.col-md-5
    label(for='city') City
    span(style='color: red; display: inline; float: none;') *
    input.form-control(type='text' id='city' name='city')
  .form-group.col-md-5
    label(for='email') Email
    span(style='color: red; display: inline; float: none;') *
    input.form-control(type='text' id='email' name='email')
  .form-group.col-md-5
    label(for='telephone') Telephone
    span(style='color: red; display: inline; float: none;') *
    input.form-control(type='text' id='telephone' name='telephone')
  .form-group.col-md-5
    label(for='special_needs') I can attend to these special needs
    select.form-control.col-md-5(id='special_needs_skills' name='special_needs_skills' multiple)
      option(value="guide_vision_impaired") Vision Impaired
      option(value="guide_blind") Blind
      option(value="psychological_support") Psychological support
      option(value="nursing") Nursing
      option(value="handle_wheelchair") I am in a wheelchair
      option(value="sign_language") Sign language
      option(value="trauma_awareness") Trauma awareness
      option(value="neurodiversity_awareness") Neurodiversity awareness
      option(value="intellectual_disability_awereness") Intellectual disability awereness
      option(value="speech_with_gestures") Speech with gestures
      option(value="LGBTQIAplus_awareness") LGBTQIAplus awareness
  .form-group.col-md-5
    label(for='event_types') I am interested in these event types
    select.form-control.col-md-5(id='event_types' name='event_types' multiple)
      option(value="Theater_Kunst") theater / art
      option(value="Ausflüge_Cafe") excursion / coffee
      option(value="Sport_Action") sports / action
      option(value="Konzerte_Festivals") concerts / festivals
      option(value="Natur_Sightseeing") nature / sightseeing
      option(value="Andere") other
  .form-group.col-md-5
    label(for='description') 
      | Two sentences about myself (keep the language accessible)
      span(style='color: red; display: inline; float: none;') *
    input.form-control(type='text' id='description' name='description')
  .form-group.col-md-5
    label(for='password_1')
      | Password
      span(style='color: red; display: inline; float: none;') *
    input.form-control(type='pasword' id='password_1' name='password_1' aria-describedby='password_1')
  .form-group.col-md-5
    label(for='password_2')
      | Repeat password
      span(style='color: red; display: inline; float: none;') *
    input.form-control(type='pasword' id='password_2' name='password_2' aria-describedby='password_2')
  .form-group.col-md-5
    input(type="hidden" id="signup_type" name="signup_type" value="volunteer")
    button.btn.btn-primary(type='submit') Submit
  p.col-md-5 
    | Already a member?
    a.text-warning(href='/login') 
      | Log in