form.column(method='post' action='')
  .form-group.col-md-5
    label(for='name')
      | Name
      span(style='color: red; display: inline; float: none;') *
    input.form-control(type='text' id='namenameid='name' aria-describedby='name')
  .form-group.col-md-5
    label(for='city') City
    span(style='color: red; display: inline; float: none;') *
    input.form-control(type='text' id='city' name='city')
  .form-group.col-md-5
    label(for='street') Street
    span(style='color: red; display: inline; float: none;') *
    input.form-control(type='text' id='street' name='street')
  .form-group.col-md-5
    label(for='postal_code') Zip code
    span(style='color: red; display: inline; float: none;') *
    input.form-control(type='text' id='postal_code' name='postal_code')
  .form-group.col-md-5
    label(for='bday')
      | Date of birth
      span(style='color: red; display: inline; float: none;') *
    input#bday(type='date' name='bday' required='')
  .form-group.col-md-5
    label(for='email') Email
    span(style='color: red; display: inline; float: none;') *
    input.form-control(type='text' id='email' name='email')
  .form-group.col-md-5
    label(for='tel') Telephone
    span(style='color: red; display: inline; float: none;' required='')
    span(style='color: red; display: inline; float: none;') *
    input.form-control(type='text' id='tel' name='tel')
  .form-group.col-md-5
    label(for='gender') Gender
    select.form-control.col-md-5(id='gender' name='gender')
      option Male
      option Female
      option Other
      option Non binary
      option I don&apos;t want to share this information
  .form-group.col-md-5
    label(for='dress_size') Dress Size
    input#exampleInputPassword1.form-control(type='text', id='dress_size' name='dress_size')
  .form-group.col-md-5
    label(for='interests') Interest
    select.form-control.col-md-5(id='interests' name='interests')
      option music
      option culture
      option sports
      option gender
  button.btn.btn-primary(type='submit') Submit
  p.col-md-5 
    | Already a member?
    a.text-warning(href='/login') 
      | Log in